body{
    background-color: rgb(240, 237, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3em;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-image: url(https://www.xtrafondos.com/wallpapers/reflejos-de-montanas-1165.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p{
    margin-bottom: 1.6em;
}

.form{
    width: 450px;
    margin: auto;
    padding: 30px;
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(167, 221, 255);
    margin-bottom: 30px;
    font-family: Calibri;
}

.form .controls{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 4px solid rgb(11, 96, 176);
    box-sizing: border-box;
    font-size: 18px;
}

.form .botons{
    width: 100%;
    background: rgb(11, 96, 176);
    color: white;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 18px;
}

.form .botons:hover{
    transition: 0.5s;
    background: white;
    color: rgb(11, 96, 176);
    cursor: pointer;
}

.form label{
    font-size: 18px;
}

.form textarea{
    width: 100%;
    box-sizing: border-box;
    border: 10px solid rgb(11, 96, 176);
    border-radius: 10px;
}

#checkbox{
    width: fit-content;
}

.form p{
    text-align: center;
    font-size: 18px;
    margin: 16px 0;
}

.form a{
    color: black;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.header{
    background-color: black;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
 }

 .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a:hover{
    background-color: rgb(11, 96, 176);
    border-radius: 20px;
    transition: all 0.3s linear;
}

.logo-nav-container img{
    height: 100px;
    padding-left: 2%;
    width: 100px;
    transition: 0.5s;
    object-fit: cover;
}

.logo-nav-container img:hover{
    transform: scale(1.5);
}

.animate__fadeInUp{
    font-size: 50px;
    text-align: center;
    margin-top: 13%;
    color: white;
    z-index: 5;
}

.footer{
    background-color: rgb(00, 00, 00);
    text-align: center;
    padding: 1px;
    color: white;
}

.footer a{
    color: white;
    text-decoration: none;
}