body{
    background-color: rgb(240, 237, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3em;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    z-index: 0;
}

.Productos{
    width: 100%;
    display: flex;
    max-width: 1100px;
    justify-content: center;
    z-index: 3;
}

.card{
    width: 100%;
    margin: 20px;
    border: 7px solid rgb(11, 96, 176);
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 300px;
    border-bottom: 7px solid rgb(11, 96, 176);
}

.card .contenido{
    padding: 15px;
    text-align: center;
    color: black;
}

.card .contenido p{
   line-height: 1.5; 
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    background-color: rgb(11, 96, 176);
    font-weight: 800;
    color:white;
    transition: all 400ms ease;
    border: 5px solid;
    border-radius: 10px;
}

.card .contenido a:hover{
    background-color: rgb(167, 221, 255);
    color: rgb(11, 96, 176);
    border: 5px solid rgb(11, 96, 176);
    border-radius: 10px;
}

.header{
    background: rgb(00,00,00);
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
 }

 .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a:hover{
    background-color: rgb(11, 96, 176);
    border-radius: 20px;
    transition: all 0.3s linear;
}

.logo-nav-container img{
    height: 100px;
    padding-left: 2%;
    width: 100px;
    transition: 0.5s;
    object-fit: cover;
}

.logo-nav-container img:hover{
    transform: scale(1.5);
}

.animate__fadeInUp{
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 8%;
    margin-bottom: 30px;
    z-index: 1;
    height: 400px;
    background-image: url(https://images.ctfassets.net/swt2dsco9mfe/44zK1a6M3Stmw2fRVhkvDb/e3788c0fb5d6f1962038b468d557e605/dnd_home_phb_bannerv4.png?q=70&w=1920);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer{
    background-color: rgb(00, 00, 00);
    text-align: center;
    padding: 1px;
    color: white;
    width: 100%;
    margin-top: 100px;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    color: rgb(11, 96, 176);
}
