body{
    background-color: rgb(240, 237, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3em;
    font-size: 18px;
    margin: 0
}

p{
    margin-bottom: 1.6em;
}

h2{
    text-align: center;
}

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.container img{
    height: 500px;
    width: 400px;
    border: 10px solid white;
    border-radius: 6px;
    border-style: double;
    margin: 30px;
}

.header{
    background: black;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
 }

 .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a:hover{
    background-color: rgb(11, 96, 176);
    border-radius: 20px;
    transition: all 0.3s linear;
}

.logo-nav-container img{
    height: 100px;
    padding-left: 2%;
    width: 100px;
    transition: 0.5s;
    object-fit: cover;
}

.logo-nav-container img:hover{
    transform: scale(1.5);
}

.animate__fadeInUp{
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 10%;
    z-index: 1;
}

.Maps h3{
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.Maps{
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.Maps iframe{
    width: 95%;
    border-radius: 10px;
}

.footer{
    background-color: rgb(00, 00, 00);
    text-align: center;
    padding: 1px;
    color: white;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    color: rgb(11, 96, 176);
}